body{
    margin: 0;
    padding: 0;
    font-style: 16px;
    line-height: 1.5;
    font-family: "Roboto","Arial",sans-serif;
}

.header{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.site-header-action{
    display: flex;
    align-items: center;
}
.sitenav-list{
    list-style: none;
    display: flex;
}
.nav-li{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.4s ease,
    opacity 0.4s ease;
}
.nav-li:hover{
    color: #FF7500;
}
.nav-li:active{
    opacity: 0.6;
}
.main-link{
    font-size: 13px;
    line-height: 15;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
.hero{
    background-color: #252420;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-content{
    width: 390px;
}
.hero-img{
    width: 510px;
    height: 510px;
}
.hr{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
}
.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.future-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.future{
    width: 340px;   
}
.features-heding{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    color: #000000;
    width: 440px;
    word-spacing: 0.5;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.features{
    background-color: #fff;
    color: #000;
}
.future-icon{
    width: 100px;
    height: 100px;
    background-color: rgba(255, 117, 0, 0.2);
}
.future-title{
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}

.promo{
    /* width: 1100px;
    height: 419px; */
    background-color: #252420;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.promo-content{
    width: 440px;
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}

.promo-higtlight{
    color: #ff7500;
}
.promo-img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}
.site-footer {
    background-color: #f8f8f8;
}
.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    align-items: center;
}
.socials a {
    color: #252420;
}
.socials a:hover{
    color: #ff7500;
}
.socials a:active{
    opacity: 0.6;
}
.site-footer ul{
    list-style: none;
}
.site-footer-hr{
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
}
.site-footer-links {
    width: 224px;
    line-height: 19px;
}
.site-footer-bottom{
    display: flex;
}
.site-footer-links a{
    text-decoration: none;
    color: #252420;
    width: 224px;
}
.site-footer-links a:hover{
    color: #FF7500;
}
.site-footer-links a:focus{
    opacity: 0.6;
}
.logo-link{
    transition: 0.4s ease;
}
.logo-link:hover{
    opacity: 0.8    ;
}
.logo-link:active{
    opacity: 0.6 ;
}