*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-style: 16px;
    line-height: 1.5;
    font-family: "Roboto","Arial",sans-serif;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
*:focus{
    outline: #ff7500 dotted 2px;
    outline-offset: 3px;
}
.container{
    width: 100%;
    min-width: 1100px;
    max-width: 1100px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
}
.site-header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    background-color: #ffffff;
    border-top: #FF7500 5px solid;
    padding-top: 16px;
    padding-bottom: 16px;
}
.site-header-action{
    display: flex;
    align-items: center;
}
.sitenav-list{
    padding: 0;
    margin: 0;
    margin-right: 32px;
    list-style: none;
    display: flex;
}
.sitenav-item{
    margin-right: 32px;
}
.sitenav-item:last-child{
    margin: 0;
}
.nav-li{
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    transition: 0.4s ease,
    opacity 0.4s ease;
}
.nav-li:hover{
    color: #FF7500;
}
.nav-li:active{
    opacity: 0.6;
}
.main-link{
    display: inline-block;
    padding: 12px 24px;
    font-size: 13px;
    line-height: 15;
    border-radius: 4px;
    font-weight: bold;
    background-color: #ff7500;
    color: #fff;
    text-decoration: none;
    transition: opacity 0.4s ease;
    line-height: normal;
}
.main-link:hover{
    opacity: 0.8;
}
.main-link:active{
    opacity: 0.6;
}
.hero{
    background-color: #252420;
    color: #fff;
}
.hero-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-content{
    width: 390px;
}
.hero-img{
    width: 510px;
    height: 510px;
    border-radius: 8px;
}
.hr{
    width: 80px;
    height: 3px;
    background-color: #ff7500;
    border: 0;
    margin: 0;
    margin-bottom: 40px;
}
.hero-heading{
    font-size: 40px;
    line-height: 1.2;
    margin: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.hero-text{
    margin: 0;
    margin-bottom: 32px;
}
.future-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.future{
    width: 340px;  
    margin-right: 40px;
}
.future:last-child{
    margin-right: 0;
}
.features-heding{
    font-weight: 700;
    font-size: 72px;
    line-height: 120%;
    margin: 0;
    margin-bottom: 72px;
    color: #000000;
    width: 440px;
    letter-spacing: 0.5;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.features{
    background-color: #fff;
    color: #000;
    padding-top: 210px; 
    padding-bottom: 210px;
}
.future-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 32px;
    background-color: rgba(255, 117, 0, 0.2);
}
.future-title{
    margin-top: 0;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.future-info{
    margin: 0;
}
.promo{
    padding-top: 120px;
    padding-bottom: 160px;
}
.promo-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    border-radius: 12px;
    padding: 0 64px;
    color: #fff;
}
.promo-content{
    width: 440px;
}
.promo-heading{
    font-size: 40px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto Condensed','Roboto','Arial', sans-serif;
}
.promo-text{
    margin-top: 0;
    margin-bottom: 12px;
}
.promo-text:last-child{
    margin: 0;
}
.promo-info-wrap{
    margin-bottom: 24px;
}
.promo-higtlight{
    color: #ff7500;
}
.promo-img{
    position: relative;
    bottom: 64px;
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
}
.site-footer {
    padding-top: 56px;
    padding-bottom: 56px;
    background-color: #f8f8f8;
}
.site-footer-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.socials{
    display: flex;
    align-items: center;
    padding: 0;
}
.socials li{
    margin-right: 16px;
}
.socials li:last-child{
    margin-right: 0;
}
.socials a {
    color: #252420;
    display: block;
}
.socials a:hover{
    color: #ff7500;
}
.socials a:active{
    opacity: 0.6;
}
.socials svg{
    display: block;
}
.site-footer ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.site-footer-hr{
    background-color: rgba(37, 36, 32, 0.5);
    height: 2px;
    border: 0;
    margin-top: 40px;
    margin-bottom: 64px;
}
.site-footer-links {
    width: 224px;
    line-height: 19px;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-right: 68px;
}
.site-footer-links li{
    margin-bottom: 16px;
}
.site-footer-links li:last-child{
    margin-bottom: 0;
}
.site-footer-links:last-child{
    margin-right: 0;
}
.site-footer-bottom{
    display: flex;
}
.site-footer-links a{
    text-decoration: none;
    color: #252420;
    width: 224px;
}
.site-footer-links a:hover{
    color: #FF7500;
}
.site-footer-links a:active{
    opacity: 0.6;
}
.logo-link{
    transition: 0.4s ease;
}
.logo-link:hover{
    opacity: 0.8    ;
}
.logo-link:active{
    opacity: 0.6 ;
}
.logo-link img{
    display: block;
}
.header-img{
   margin-top: 40px; 
   margin-bottom: -60px;
}
.cll {
    height: 419px !important;
}
