 body {
    margin: 0;
    padding: 0;
} 
.header{
    justify-content: space-between;
}
.hr{
    height: 5px;
    background-color: #FF7500;
}
.navigation ul{
    position: absolute;
}
nav{
    justify-content: flex;
}
